<%- include('partials/header'); -%>
<div class="wrapper" style="background-image: url('/images/bg-registration-form-1.jpg');">
    <div class="col-2" style="background-color: #fff;">
        <img src="/images/vasa.jpg" style="padding: 10px;height: 400px;">
    </div>
    <div class="col-2" style="background-color: #fff;">
        <img src="/images/gift.jpg"  style="padding: 10px;height: 400px;">
    </div>
    <div class="col-2" style="background-color: #fff;">
        <img src="/images/registration-form-1.jpg"  style="padding: 10px;height: 400px;">
    </div>
    <div class="col-2" style="background-color: #fff;">
        <img src="/images/toy.jpg"  style="padding: 10px;height: 400px;">
    </div>
</div>