<%- include('partials/header')%>
<div class="wrapper" style="background-image: url('/images/bg-registration-form-1.jpg');">
  <section class="main">
    <h2 style="background-color: grey;">Products</h2>
    <div class="products">
      <div class="prod">
        <img src="https://toppng.com/public/uploads/thumbnail/diamond-wedding-rings-png-11552289034crqzhthrtv.png" alt="Product 1" style="height: 150px;"/>
        <div>
          <h5>Ring</h5>
          <span>$19.99</span>
        </div>
        <button >Add to Cart</button>
        <br>
      </div>
      <div class="prod special">
        <img src="https://cdn.shopify.com/s/files/1/0103/7985/3909/collections/TRES-24-45-frontal-freigestellt-Kategorie.png?v=1575452020" alt="Product 2" style="height: 150px;" />
        <div>
          <h5>Watch</h5>
          <div>
            <span class="sale">$49.95</span>
            <span>$22.99</span>
          </div>
          <button >Add to Cart</button>
          <br>
        </div>
      </div>
      <div class="prod">
        <img src="https://freepngimg.com/thumb/suit/36823-8-suit-free-download.png" alt="Product 3" style="height: 150px;"/>
        <div>
          <h5>Suit</h5>
          <span>$27.45</span>
        </div>
        <button >Add to Cart</button>
        <br>
      </div>
      <div class="prod">
        <img src="https://i.ibb.co/KyZzhwR/sport-shoes.png" alt="Product 4" style="height: 150px;" />
        <div>
          <h5>Sports Shoes</h5>
          <span>$45.72</span>
        </div>
        <button >Add to Cart</button>
        <br>
      </div>
    </div>
  </section>
</div>